body {
    margin: 0px; /*All 4 sides margin set to 0px*/
}

h1 {
margin-top: 0px;
}

.pro {
    text-decoration: underline;
}
.top-container {
    background-color: #005555;
}

.robot {
    height: 80px;
}

.coding {
    height: 120px;
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: grey;
}

