body {
    margin: 0px; /*All 4 sides margin set to 0px*/
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}

h1 {
    width: 10%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.pro {
    font-weight: bold;
}
.top-container {
    background-color: #005555;
    padding-top: 100px;
    position: relative;
}

.robot {
    height: 80px;
    position: absolute;
    right: 580px;
    top: 80px;
}

.coding {
    height: 110px;
    position: absolute;
    top: 100px;
    left: 490px;
}

.numbers {
    height: 400px;
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: grey;
}

